<h1>Tasks</h1>


<%= link_to 'create a task', new_task_path %>
<br><br>

  <div class="task-container">
<% @tasks.each do |task| %>

 <%= form_for task do |f| %>

  <div class="task" id=<%=task.id%>>
      <tr>
       <%if task.completed == true%>
          <td> <input type="checkbox" class="checkbox" name="completed" checked></td>
        <%else%>
           <td> <input type="checkbox" class="checkbox" name="completed"></td>
        <%end%>

         <td><%= task.name %></td>
         <td><%= link_to "edit", edit_task_path(task) %></td>
         <td><%= link_to 'Delete', task_path(task),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </div>
 <% end %>
<%end%>
</div>
